﻿
@using System;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Admin.Models.Vendors;
@using Nop.Web.Framework.Events;
@using Nop.Core.Infrastructure;
@using Nop.Services.Events;

@model VendorModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div id="vendor-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.Vendors.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.Common.SEO")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            Acounting
        </li>
    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabSeo()
    </div>
    <div>
        @TabAccounting()
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#vendor-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "vendor-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">



@helper TabInfo()
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)").click(togglePageSize);
            togglePageSize();
        });

        function togglePageSize() {
            if ($('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').is(':checked')) {
                $('#pnlPageSize').hide();
                $('#pnlPageSizeOptions').show();
            } else {
                $('#pnlPageSize').show();
                $('#pnlPageSizeOptions').hide();
            }
        }
    </script>

    @(Html.LocalizedEditor<VendorModel, VendorLocalizedModel>("vendor-info-localized",
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].Name)
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].Description):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].Description, "RichEditor")
                @Html.ValidationMessageFor(model => model.Locales[item].Description)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </td>
        </tr>
    </table>
                ,
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Description):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.Description, "RichEditor")
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
    </table>
                                            ))
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Email):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdminComment):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.AdminComment, new { style = "Width: 250px; Height: 150px;" })
                @Html.ValidationMessageFor(model => model.AdminComment)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowCustomersToSelectPageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.AllowCustomersToSelectPageSize)
                @Html.ValidationMessageFor(model => model.AllowCustomersToSelectPageSize)
            </td>
        </tr>
        <tr id="pnlPageSize">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageSize):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.PageSize)
                @Html.ValidationMessageFor(model => model.PageSize)
            </td>
        </tr>
        <tr id="pnlPageSizeOptions">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PageSizeOptions):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.PageSizeOptions)
                @Html.ValidationMessageFor(model => model.PageSizeOptions)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Active):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DisplayOrder):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </td>
        </tr>
        @if (Model.Id > 0)
        {
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.AssociatedCustomerEmails):
                </td>
                <td class="adminData">
                    @if (Model.AssociatedCustomerEmails.Count > 0)
                    {
                        for (int i = 0; i < Model.AssociatedCustomerEmails.Count; i++)
                        {
                            @Model.AssociatedCustomerEmails[i]
                            if (i != Model.AssociatedCustomerEmails.Count - 1)
                            {
                                <text>, </text>
                            }
                        }
                    }
                    else
                    {
                        @T("Admin.Vendors.Fields.AssociatedCustomerEmails.None")
                    }
                </td>
            </tr>
        }
    </table>
}
@helper TabSeo()
{
    @(Html.LocalizedEditor<VendorModel, VendorLocalizedModel>("vendor-seo-localized",
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].MetaKeywords):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].MetaKeywords)
                @Html.ValidationMessageFor(model => model.Locales[item].MetaKeywords)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].MetaDescription):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Locales[item].MetaDescription)
                @Html.ValidationMessageFor(model => model.Locales[item].MetaDescription)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].MetaTitle):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].MetaTitle)
                @Html.ValidationMessageFor(model => model.Locales[item].MetaTitle)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Locales[item].SeName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Locales[item].SeName)
                @Html.ValidationMessageFor(model => model.Locales[item].SeName)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.HiddenFor(model => model.Locales[item].LanguageId)
            </td>
        </tr>
    </table>
               ,
    @<table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MetaKeywords):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.MetaKeywords)
                @Html.ValidationMessageFor(model => model.MetaKeywords)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MetaDescription):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(x => x.MetaDescription)
                @Html.ValidationMessageFor(model => model.MetaDescription)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MetaTitle):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.MetaTitle)
                @Html.ValidationMessageFor(model => model.MetaTitle)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SeName):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.SeName)
                @Html.ValidationMessageFor(model => model.SeName)
            </td>
        </tr>
    </table>))
}

@helper TabAccounting()
{
    <table class="adminContent">
        <tr>
            <td>
                <div id="accounting-grid"></div>
                <script>
                $(document).ready(function () {
                    $("#accounting-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "VendorAccounting", new { vendorId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("Update", "VendorAccounting"))",
                                    type: "POST",
                                    dataType: "json"
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("Delete", "VendorAccounting", new { vendorId = Model.Id }))",
                                type: "POST",
                                dataType: "json"
                            }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        OrderItemId: { editable: false, type: "number" },
                                        Debit: { editable: true, type: "number" },
                                        Credit: { editable: true, type: "number" },
                                        CreatedOnUtc: { editable: false, type: "date" },
                                        UpdatedOnUtc: { editable: false, type: "date" },
                                        Notes: { editable: true, type: "string" }
                                    }
                                }
                            },
                            requestEnd: function (e) {
                                if (e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: true,
                            previousNext: true,
                            info: true
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "OrderItemId",
                            title: "Order Item Id",
                            width: 50
                        }, {
                            field: "Debit",
                            title: "Debit",
                            format: "{0:0}",
                            width: 75
                        }, {
                            field: "Credit",
                            title: "Credit",
                            //integer format
                            format: "{0:0}",
                            width: 75
                        },{
                            field: "CreatedOnUtc",
                            title: "Created On",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                                },{
                            field: "UpdatedOnUtc",
                            title: "Updated On",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                                }, {
                                    field: "Notes",
                                    title: "Note",
                                    encoded: false,
                                    width: 250
                                 },{
                            command: { name: "edit", text: "Edit" },
                            title: "Edit",
                            width: 150
                        },{
                            command: { name: "destroy", text: "Delete" },
                            title: "Delete",
                            width: 100
                        }]
                    });
                });
                </script>
            </td>
        </tr>
    </table>
    <p>
        <strong>
            Add Accounting Record
        </strong>
    </p>
    <table class="adminContent">
        
        <tr>
            <td class="adminTitle">
                Credit
            </td>
            <td class="adminData">
                <label for="creditValue" title="Enter this record Credit value."></label>
                <input type="number" min="0" name="creditValue" id="creditValue">
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Debit
            </td>
            <td class="adminData">
                <label for="debitValue" title="Enter this record Debit value."></label>
                <input type="number" min="0" name="debitValue" id="debitValue">
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Note
            </td>
            <td class="adminData">
                <label for="noteMessage" title="Enter this record note message."></label>
                <textarea cols="20" id="noteMessage" name="noteMessage" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left">
                <input type="button" id="addAccountingRecord" class="k-button" value="Add Record" />
            </td>
        </tr>
    </table>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#addAccountingRecord').click(function () {
            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("Add", "VendorAccounting"))",
                data: {vendorId: @Model.Id,credit: $("#creditValue").val(),debit: $("#debitValue").val(),note: $("#noteMessage").val()},
                success: function (data) {
                    var grid = $("#accounting-grid").data('kendoGrid');
                    grid.dataSource.read();
                    $('#addAccountingRecord').attr('disabled', false);
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to add vendor accounting record.');
                    $('#addAccountingRecord').attr('disabled', false);
                }
            });
        });
    });
    </script>
}